/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/*-------------------------------*/
/*---My code On Big  Screens---*/
/*------------------------------*/

*,html,body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

nav
{
    width: 100%;
    background: rgb(59, 59, 241);
    
}
.nav-h3, ul li
{
    display: inline-block;

}
.nav-h3
{
    margin-top: 15px;
    margin-left: 2%;
    float: left;
    color: white;
}
ul
{
    width: 80%;
    margin: 0 auto;
    padding: 0px;
    margin-top: 30px;
    margin-left: 26%;
}
ul li
{
    
    list-style: none;
    padding: 10px;  
}
ul li:hover
{
    background: #e91e63;
}
ul li a
{
   
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.toggle
{
    width: 100%;
    padding: 10px 20px;
    background: #001f44;
    text-align: right;
    color: white;
    box-sizing: border-box;
    font-size: 30px;
    display: none;
}
#bg-img
{
    background: url('../UI/computer.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -16px;
    width: 100%;
    height: calc(100px -100px);  
}

.media-body h3
{
    font-size: 30px;
    margin-top: 20px;
}

.media img
{
    background: url('../UI/moki2.jpg');
    background-repeat: no-repeat;
    background-size: 20%;
    height: 100px;
    width: 100px;
    border-radius: 70%;  
    margin-left: 1%;
    margin-top: 25px;

}
#about
{
    margin-left: 5%;
    margin-top: 150px;
}

#about .fa
{
    color: #fff;
}
#about span
{
padding: 10px 20px 10px 10px;
font-size: 20px;
}
.table
{
    margin-top: -15px;
}
/*Education section table*/
.educationtable
{
    border-collapse: collapse;
    opacity: 0.95%;
    width: 100%;
    padding: 30px;
    overflow-x: auto;
}
th
{
    background: red;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;

}
.educationtable td
{
   padding: 10px;
   background: #e8e8e8;
}
#about
{
    margin-top: -300px;
}

#about .fa
{
    color: #fff;
}
#about span
{
padding: 10px 20px 10px 10px;
font-size: 20px;
}
.Projects
{
    width: 100%;
}
.project a
{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
}
#about hr
{
    padding: 2px;
    margin-top: 6px;
}
#Experience span
{
    padding: 10px 20px 10px 20px;
}
#Experience hr
{
    border-width: 2px;
    margin-top: 06px;
}
#Experience .card
{
    border-top: 03px solid red;
}
.cbs, .fincom
{
    margin-top: 48px;
}
.kq, .jtl
{
margin-top: 20px;
}

.table
{
    margin-top: -15px;
}
.linksheading
{
    margin-left: 15%;
    font: bold;
}
.linksheading, .social-links
{
 display: inline-block;
}
.social-links
{
    list-style: none;
    text-decoration: none;
    margin-left: 140px;
   
}
.social-links li 
{
    display: inline-block;
    padding: 20px;   
}
.social-links img
{
    width: 35px;
    height: 35px;
}
.footerp
{
    margin-left: 40%;
    font-weight: bold;
}
 .error
 {
     color: red;
 }
 .success
 {
     color: #ff9966;
     text-align: center;
     font-weight: bold;
     font-size: 14px;
 }
#thankyou_message
{
    color: green;
}
.textInput
{
    margin-top: 2px;
    height: 28px;
    border: 1pxsolid #5e6e66;
    font-size: 15px;
    padding: 1px;
    width: 100%;
}
.val_error{
    color:#FF1F1F;
}
#Hire
{
    margin-top: 30px;
}

/*------------------------------*/
/* ---On small screens-----*/
/*------------------------------*/

@media  (max-width: 768px)
{
    .toggle-h3
    {
        float: left;
    }
    .toggle
    {
        display: block;
    }
    .nav-h3
    {
        display: none;
    }
    ul
    {
        width: 100%;
        display: none;  
    }
    ul li
    {
        display: block;
        text-align: left;
        font-size: 20px;
    }
    ul li:hover
    {
        background: #e91e63;
        width: 32%;
    }
    #bg-img img
    {
    background: url('../UI/computer.jpeg');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    }
    .media img
    {
        background: url('../UI/moki2.jpg');
        background-repeat: no-repeat;
        background-size: 20%;
        height: 50px;
        width: 50px;
        border-radius: 70%;  
        margin-left: 1%;
    }
    .media-body
    {
        margin-left: 0.1%;
    }
    .table
    {
        margin-left: 1%;
    }

    /* Education section table*/

    .educationtable
    {
    border-collapse: collapse;
    width: 100%;
    margin-right: 2%;
    overflow-x: auto;
    text-align: center;
   }
   th
   {
    background: red;
    color: white;
    font-size: 10px;
}
.educationtable td
{
   background: #e8e8e8;
   font-size: 14px;
}
    #about
    {
    margin-left: 5%;
    margin-top: -110px;
    }
    .linksheading
    {
    margin-left: 30%;
    font: bold;
    }
    .social-links
    {
    list-style: none;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 20px;
    }
    .social-links li 
    {
    display: inline-block;
    padding: 15px;   
    }
    .social-links img
    {
    width: 30px;
    height: 30px;
    }
    #Experience span
    {
    padding: 10px 20px 10px 20px;
    }
    #Experience hr
    {
    border-width: 2px;
    margin-top: 06px;
    }
    #Experience .card
    {
    border-top: 03px solid red;
    }
    .cbs, .fincom
    {
    margin-top: 48px;
    }
    .kq, .jtl
    {
    margin-top: 20px;
    }
    .dac
    {
    margin-top: 20px;
    }
    .active
    {
    display: block;
    }
 }




